<div class="mr-4">
  <app-message *ngFor="let message of conversation.messages" [otherUser]="conversation.member[1]" [message]="message"></app-message>
</div>
<form class="mr-4">
  <div class="row">
    <div class="col-9">
      <input class="form-control" [(ngModel)]="message" placeholder=". . ." title="Nachricht" name="Nachricht">
    </div>
    <div class="col-3">
      <button class="btn btn-outline-dark form-control" (click)="send()">Senden</button>
    </div>
  </div>
</form>
<span *ngFor="let message of messages">{{ message.text }}</span>
