<form class="container">
  <div class="form-group">
    <label for="id">ID</label>
    <input class="form-control" [value]="_user.id" type="text" id="id" disabled>
  </div>
  <div class="form-group">
    <label for="username">Nutzername</label>
    <input class="form-control" type="text" id="username" (keydown)="changes=true" name="username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" (keydown)="changes=true" [(ngModel)]="email">
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-outline-danger mr-2" (click)="abort()">Abbrechen</button>
    <button class="btn btn-outline-dark mr-2" (click)="reset()" [disabled]="!changes">Zurücksetzen</button>
    <app-really-modal buttonText="Speichern" [disabled]="!changes" buttonClass="btn btn-outline-primary"
                      (clicked)="edit($event)" [text]="'Den Nutzer ' + _user.username + ' wirklich bearbeiten?'" title="Nutzer bearbeiten">
    </app-really-modal>
  </div>
</form>
